html, body {
    margin: 0 ; /* Varsayılan marjinleri devre dışı bırak */
    padding: 0 ;
    height: 100% ; /* Tam yüksekliği zorunlu kıl */
    overflow: hidden; /* Kaydırmayı engelle */
}
.vh-100 {
height: 100vh; /* Tam görünüm alanı yüksekliği */
} 
.btn-custom {
  font-size: 1.5rem;  /* Font boyutunu artırır */
  padding: 15px 30px; /* Butonun içindeki boşlukları artırır */
  text-align: center; /* Buton içeriğini ortalar */
  white-space: nowrap; /* Buton metninin taşmasını engeller */
}
.container-lg {
  max-width: 800px; /* Konteynerin maksimum genişliği */
  margin: 0 auto; /* Ortalanır */
}
.dropdown-menu {
  max-height: 300px; /* Maksimum yüksekliği belirleyin */
  overflow-y: auto;  /* Dikey kaydırmayı aktif hale getirin */
}

