html, body {
    margin: 0 ; /* Varsayılan marjinleri devre dışı bırak */
    padding: 0 ;
    height: 100% ; /* Tam yüksekliği zorunlu kıl */
    overflow: hidden; /* Kaydırmayı engelle */
}
.vh-100 {
height: 100vh; /* Tam görünüm alanı yüksekliği */
} 
.btn-custom {
  font-size: 1.5rem;  /* Font boyutunu artırır */
  padding: 15px 30px; /* Butonun içindeki boşlukları artırır */
  text-align: center; /* Buton içeriğini ortalar */
  white-space: nowrap; /* Buton metninin taşmasını engeller */
}
.btn-custom2:hover{
  background-color: #218838;
}
.container-lg {
  max-width: 800px; /* Konteynerin maksimum genişliği */
  margin: 0 auto; /* Ortalanır */
}
.dropdown-menu {
  max-height: 300px; /* Maksimum yüksekliği belirleyin */
  overflow-y: auto;  /* Dikey kaydırmayı aktif hale getirin */
}
/* Takvim alanını iyileştirme */
input[type="date"].form-control {
  background-color: #f8f9fa; /* Hafif gri arka plan */
  border-color: #007bff; /* Kenarlık rengi mavi */
  color: #000; /* Yazı rengi siyah */
  text-align: center;
  height: calc(2.5rem + 2px); /* Diğer butonlarla eşitlemek için */
  width: 100%; /* Tam genişlik için */
  border-radius: 0.25rem; /* Hafif yuvarlatılmış kenarlar */
}

/* Focus efekti */
input[type="date"].form-control:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff; /* Hover efekti */
  border-color: #0056b3; /* Daha koyu mavi */
}
.form-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.form-group {
  flex: 1 1 calc(48% - 10px);
  display: flex;
  flex-direction: column;
}
.form-group input {
  height: 40px;
  font-size: 14px;
}
.submit-btn {
  width: 100%;
  background-color: #198754;
  color: white;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.submit-btn:hover {
  background-color: #218838;
}
.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Üst boşluk 
}

.alert-container {
  width: 80%; 
  max-width: 600px; /* Maksimum genişlik 
}

.alert {
  background-color: #f8f9fa; 
  border: 1px solid #ced4da; 
  border-radius: 8px; 
  padding: 15px; 
  font-size: 16px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge 
}

.alert .alert-text {
  color: #212529; 
  font-family: 'Arial', sans-serif; /* Modern yazı tipi 
}

.btn-close 
  color: #6c757d; /* Buton rengi 
}
.alert-warning {
  background-color: #fff3cd;
  border-color: #ffecb5;
  color: #664d03;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 5px;
  display: none; /* Başlangıçta gizli */
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.dropdown {
  position: relative;
  margin-bottom: 10px;
}

/* İkon stili */
.alert-warning i {
  margin-right: 5px;
  color: #856404;
}




